@import url("https://fontlibrary.org//face/grotesque-bourgeoisie");

:root {
    --dark-blue: #113f67;
    --light-blue: #38598b;
    --purple: #a2a8d3;
    --white: #e7eaf6;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
}

#content {
    min-height: 100vh;
    display: grid;
    grid-template-rows: max-content 1fr 30px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
}

header > p {
    font-family: "GrotesqueBourgeoisieRegular";
    font-size: 5rem;
    padding: 1rem 0;
    color: var(--white);
}

header nav {
    display: flex;
    gap: 1.5rem;
}

header nav button {
    font-size: 1.1rem;
    padding: 0.5rem 2rem;

    background-color: var(--white);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    border: none;
    border-top: 1px solid var(--white);
    border-right: 1px solid var(--white);
    border-left: 1px solid var(--white);

    background-color: var(--dark-blue);
    color: var(--white);
}

header nav button.selected {
    background-color: var(--white);
    color: var(--dark-blue);
}

main.home {
    background: url(../src/images/seafood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 100px;
    border-radius: 20px;
    border: 5px solid var(--dark-blue);

    display: flex;
    justify-content: center;
    align-items: center;
}

main.home p {
    font-family: "GrotesqueBourgeoisieRegular";
    background-color: rgba(17, 63, 103, 0.5);
    font-size: 5rem;
    color: var(--white);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

main.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

main.menu .card {
    height: 200px;
    width: 750px;
    border-radius: 50px;
    padding: 20px;
    background-color: var(--dark-blue);

    display: flex;
    color: var(--white);
}

main.menu .card:nth-child(even) img{
    order: 1;
}

main.menu .card img {
    justify-self: flex-start;
    height: 100%;
    border-radius: 50px;
    border: 2px solid var(--white);
}

main.menu .card .details {
    font-family: "GrotesqueBourgeoisieRegular";
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}

main.menu .card .details .dish {
    font-size: 2rem;
}

main.menu .card .details .ingredients {
    font-size: 1.3rem;
}

main.menu .card .details .price {
    font-size: 1.4rem;
}

main.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.contact .card {
    font-family: "GrotesqueBourgeoisieRegular";
    font-size: 2.3rem;

    color: var(--white);
    border-radius: 20px;

    padding: 50px;
    height: 250px;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main.contact .card p span {
    margin-left: 10px;
}

footer {
    font-family: "GrotesqueBourgeoisieRegular";
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    color: var(--white);
}